html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: $mainColor;
    @extend %ubuntu-light;
    font-size: 17px;
    line-height: 26px;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
}
.section {
    min-height: 100vh;
    background-image: url(../images/page-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0 0 50px;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
        opacity: 0.15;
    }
    &__wrapper {
        position: relative;
        z-index: 20;
        min-height: 100vh;
    }
    &__title {
        @extend %sf-regular;
        font-size: 44px;
        line-height: 55px;
        padding-left: 25px;
        margin-bottom: 55px;
        padding-top: 200px;
    }
}
.scroll-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    &__link {
        width: 15px;
        height: 7px;
        background-image: url(../images/arrow-down.svg);
        display: block;
        text-indent: -999999px;
        background-size: cover;
    }
}
.btn {
    background-color: transparent;
    color: $mainColor;
    border: 1px solid $mainColor;
    cursor: pointer;
    transition: all .3s;
    
    &:hover {
        color: $secondaryColor;
        background-color: $mainColor;
    }
    
    &_big {
        border-radius: 3px;
        padding: 7px 28px;
        font-size: 15px;
        @extend %ubuntu-medium;
    }
    
    &_small {
        border-radius: 2px;
        padding: 9px 15px;
        font-size: 14px;
        letter-spacing: 2px;
        @extend %ubuntu-bold;
    }
}
.social {
    display: flex;
    
    &__link {
        width: 40px;
        height: 40px;
        text-indent: -999999px;
        display: block;
        transition: opacity .3s;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    .facebook {
        background-image: url(../images/facebook.svg);
    }
    .youtube {
        background-image: url(../images/youtube.svg);
    }
    .instagram {
        background-image: url(../images/instagram.svg);
    }
}
